.App {
  text-align: center;
}

.banner{
  background: url('https://images.pexels.com/photos/1485697/pexels-photo-1485697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  height: 90vh;
}

.App-sidebar {
  padding: 20px;
  background: #ddd;
  margin-top: 20vh;
  height: 80vh;
  width: 25%;
  right: 0;
  position: fixed;
  text-align: left;
}
.App-sidebar li {
  list-style-type: none;
  line-height: 1.5rem;
}
