.App {
  text-align: center;
}

.banner{
  background: url('https://images.pexels.com/photos/1485697/pexels-photo-1485697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  height: 90vh;
}


